[Unit]
Description=Daily autocommit of changes in dotfiles directory

[Timer]
OnCalendar=daily
Persistent=true
OnBootSec=15min

[Install]
WantedBy=timers.target
